.footer {
  background: #1e1b4b;
  color: white;
  padding: 16px 20px;
  text-align: center;
  margin: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.footerText {
  display: inline-block;
  margin: 0 16px;
  font-size: 14px;
  font-weight: 500;
}